<form onsubmit={{action "login"}}>
    <img class="mb-4" src="images/logo-dark.png" alt="" height="57">
    <h1 class="h3 mb-3 fw-normal">{{t "login.login"}}</h1>

    {{#each errors as |error|}}
        <div class="error-alert">{{error.detail}}</div>
    {{/each}}

    <div class="form-floating">
        {{input type="email" class="form-control" id="floatingInput" placeholder=(t "login.email") value=email}}
    </div>
    <div class="form-floating">
        {{input type="password" class="form-control" id="floatingPassword" placeholder=(t "login.password") value=password}}
    </div>

    <div class="checkbox mb-3">
        <label>
        {{input type="checkbox" checked=rememberMe}} {{t "login.remember"}}
        </label>
    </div>
    <button class="w-100 btn btn-lg btn-primary mb-3" type="submit" href="index.html">{{t "login.signIn"}}</button>
    {{#link-to "index"}}
        <a class="w-100" href="index.html">{{t "login.back"}}</a>
    {{/link-to}}
</form>